<!DOCTYPE html>
<html lang="en" ng-app="constellation" ng-controller="main">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Constellapedia constellation</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">


    <link rel="stylesheet" href="./scss/constellation.scss">
    <link rel="stylesheet" href="./scss/main.scss">

    <script>
        window.constellation = "<%= constellation %>"
        window.options = "<%= options %>";
    </script>

</head>
<body>
<div class="constellation-wrapper">

    <div id="constellation"></div>
    <div class="header hide-on-mobile">
        <h1 class="elip"><%= title %></h1>
        <button class="button" ng-click="toggleDrawOptionsPanel()"><i class="lni lni-menu"></i></button>
    </div>
    <% if(source.name){ %>
    <div class="source">Source: <a target="_blank"><%= source.name %></a></div>
    <% } %>
</div>


<div class="draw-options-hidden-panel" ng-class="{'open-panel': drawPanelIsOpen }">

    <div class="hidden-panel-content">
        <br/>
        <label>Draw options</label>

        <div><input type="checkbox" ng-model="formData.options.physics.enabled"> Physics</div>
        <div><input type="checkbox" ng-model="formData.options.layout.hierarchical.enabled"> Hierarchical layout
        </div>
        <div><input type="checkbox" ng-model="formData.edgesLabel" ng-change="toggleEdgesLabel()"> Relations label
        </div>

        <br/>
        <div class="text-center">
            <button class="button button-outline" ng-click="redrawConstellation()">Redraw</button>
            <p class="small-text">some draw options are still experimental</p>
        </div>


        <label>Export data</label>
        <a href="#" ng-click="snapshot()">Snapshot PNG</a><br />
        <a href="#" ng-click="jsonExport()">Constellation to JSON</a><br />
        <a href="#" ng-click="forkConstellation()">Fork constellation</a>


    </div>
</div>

<div class="node-options-hidden-panel" ng-class="{'open-panel': nodePanelIsOpen }">

    <a class="close-modal-btn" href="#" ng-click="closeNodeOptionsPanel()"><i class="lni lni-close"></i></a>

    <div class="hidden-panel-content">

        <div ng-if="!formData.nodeId">
            <label>Type</label>
            <select ng-model="formData.nodeType">
                <option value="0">Problem</option>
                <option value="1">Solution</option>
            </select>
        </div>
        <label ng-if="formData.nodeId">
            <strong>{{formData.nodeType === 0 ? 'Problem' : 'Solution'}}</strong>
        </label>

        <input type="text" ng-model="formData.nodeTitle" placeholder="Node title" maxlength="60"/>

        <div id="node-editor"></div>

        <br/><br/>


        <div class="text-center" ng-if="!formData.nodeEdges || formData.nodeEdges.length === 0">
            This node has no connections
        </div>

        <div ng-if="formData.nodeEdges && formData.nodeEdges.length > 0">
            <div class="row connection animate__animated animate__bounce"
                 ng-repeat="edge in formData.nodeEdges track by $index">

                <div class="column column-30 elip">
                    <label>From</label>
                    <strong>{{edge.from.name}}</strong>
                </div>
                <div class="column column-30">
                    <label>Type</label>
                    <select ng-model="edge.type">
                        <option value="IMPLIES_THAT">IMPLIES THAT</option>
                        <option value="SOLVED_BY">SOLVED BY</option>
                        <option value="PARTIALLY_SOLVED_BY">PARTIALLY SOLVED BY</option>
                        <option value="CAN_CAUSE">CAN CAUSE</option>
                        <option value="CAUSES">CAUSES</option>
                    </select>
                </div>
                <div class="column column-30 elip">
                    <label>To</label>
                    <strong>{{edge.to.name}}</strong>
                </div>
                <div class="column column-10 text-right delete">
                    <a href="#" ng-click="removeEdge($index)"><i class="lni lni-close"></i></a>
                </div>


            </div>
        </div>

        <div class="text-center">
            <br/>
            <a href="#" ng-click="addNodeEdge('to')">Add new connection <strong>TO</strong> this NODE</a><br/>
            <a href="#" ng-click="addNodeEdge('from')">Add new connection <strong>FROM</strong> this NODE</a>

        </div>


        <div class="foot">
            <a class="button" href="#" ng-click="saveNode()">Save</a>
            <input class="button button-clear" value="Ignore changes" ng-click="closeNodeOptionsPanel()">
            <br/>
            <a href="#" ng-click="deleteNode()">Delete this node</a>
        </div>


    </div>

</div>


<script type="application/javascript"
        src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>

<script type="module" src="./js/constellation-app.js"></script>


<link rel="stylesheet" href="../node_modules/@sweetalert2/theme-dark/dark.css">
<link rel="stylesheet" href="../node_modules/noty/lib/noty.css">
<link rel="stylesheet" href="../node_modules/noty/lib/themes/sunset.css">
<link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"
        integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</body>
</html>