<!DOCTYPE html>
<html lang="en" ng-app="network" ng-controller="main">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Stress in human beings</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <link rel="stylesheet" href="./scss/network.scss">
    <link rel="stylesheet" href="./scss/main.scss">

    <script>
        window.network = '<%= network %>'
        window.options = '<%-JSON.stringify(options)%>';
    </script>

</head>
<body>
<div class="network-wrapper">

    <div id="network"></div>
    <div class="header">
        <h1><%= title %></h1>
        <button class="button button" ng-click="toggleDrawOptionsPanel()">Draw Options</button>
    </div>
    <div class="source">Source: <a target="_blank"><%= source.name %></a></div>

</div>


<div class="draw-options-hidden-panel" ng-class="{'open-panel': drawPanelIsOpen }">

    <div class="hidden-panel-content">

        <form>
            <div><input type="checkbox" ng-model="formData.options.physics.enabled"> Physics</div>
            <div><input type="checkbox" ng-model="formData.options.layout.hierarchical.enabled"> Hierarchical layout
            </div>
            <div><input type="checkbox" ng-model="formData.edgesLabel" ng-change="toggleEdgesLabel()"> Relations label
            </div>
            <button class="button button-outline" ng-click="redrawNetwork()">Redraw</button>
        </form>

    </div>
</div>

<div class="node-options-hidden-panel" ng-class="{'open-panel': nodePanelIsOpen }">

    <div class="hidden-panel-content">

        <h2>Title</h2>
        <input type="text" ng-model="formData.nodeTitle"/>

        <br/><br/>
        <h2>Content</h2>
        <div id="node-editor"></div>

        <br/><br/>
        <h2>Connections</h2>


        <div ng-if="!formData.nodeConnections || formData.nodeConnections.length === 0">
            This node has no connections
        </div>

        <div ng-if="formData.nodeConnections && formData.nodeConnections.length > 0">
            <div class="row" ng-repeat="connection in formData.nodeConnections">

                <div class="column column-30 elip">
                    <label>From</label>
                    <strong>{{connection.from}}</strong>
                </div>
                <div class="column column-30">
                    <label>Type</label>
                    <select ng-model="connection.type">
                        <option>IMPLIES THAT</option>
                        <option>CAN BE SOLVED BY</option>
                        <option>CAN BE PARTIALLY SOLVED BY</option>
                        <option>BUT THEN</option>
                    </select>
                </div>
                <div class="column column-30 elip">
                    <label>To</label>
                    <strong>{{connection.to}}</strong>
                </div>
                <div class="column column-10 text-right">
                    <br />
                    <a href="#">X</a>
                </div>


            </div>
        </div>

        <div class="text-center">
            <br/>
            <a href="#" ng-click="addNodeConnection('to')">Add new connection <strong>TO</strong> this NODE</a><br/>
            <a href="#" ng-click="addNodeConnection('from')">Add new connection <strong>FROM</strong> this NODE</a>

        </div>


        <div class="foot">
            <a class="button" href="#" ng-click="saveNode()">Save</a>
            <input class="button button-clear" value="Ignore changes" ng-click="closeNodeOptionsPanel()">
        </div>


    </div>

</div>


<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="application/javascript"
        src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>

<script type="module" src="./js/network-app.js"></script>


<link rel="stylesheet" href="../node_modules/@sweetalert2/theme-dark/dark.css">
<link rel="stylesheet" href="../node_modules/noty/lib/noty.css">
<link rel="stylesheet" href="../node_modules/noty/lib/themes/sunset.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"
        integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>