.draw-options-hidden-panel {

  background: rgba(0,0,0,0.8);
  color: white;
  font-size: 20px;
  height: 100%;
  position: absolute;
  right: -250px;
  top: 60px;
  width: 250px;
  transition: all 0.3s ease-in-out;

  &.open-panel {
    right: 0;
  }

  .hidden-panel-content {
    padding: 5px 10px;
  }

}



