.node-options-hidden-panel {

  background: white;
  color: black;
  font-size: 20px;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;

  &.open-panel {
    left: 0;
  }

  .hidden-panel-content {
    padding: 80px 250px;
  }

  input[type="text"] {
    border: none;
    background: transparent;
    height: 100px;
    font-size: 35px;
    padding: 0;
  }

  .connection {
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px 15px;
    background: #f9f9f9;

    .delete {
      padding: 25px 0;
    }

  }

  #node-editor {


    .codex-editor__redactor {
      padding-bottom: 0 !important;
    }

  }

  .foot {
    margin-top: 150px;
    text-align: center;
  }

}


